.container{
    display: flex;
    flex-direction:row;
    background-color: green;
    flex-basis: 100px;
	flex-grow: 0;
	flex-shrink: 0;
}
img{
    border: solid 8px yellow;
    border-radius: 10px;
}