.container{
    display: flex;
   justify-content: center;
}
img{
    border: solid 2px pink;
    border-radius: 10px;
    height: 400px;
    width: 400px;
}

@media only screen and (max-width: 600px){
    img{
        height: 350px;
    width: 350px;
}
}